<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="email" placeholder="username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/page3/page4" class="button button-balanced button-outline button-block  icon ion-power">Log in</a>
            <a href="#/page2" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>